
<nav  class="navbar navbar-expand-lg navbar-light shadow fixed-top">

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <a class="navbar-brand" href="#">Burguer CSI</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/principal"  href="#">Home</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logOut()">Sair</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<br>
<br>
<br>

  <div class="containerC">
    <ul>
      <li class="card_l">
        <div class="card" style="width: 15rem;">
          <div class="card-body" routerLink="/cliente">
            <h5 class="card-title">Clientes</h5>
            <img src="assets/img/cliente.png">
          </div>
        </div>
      </li>

      <li class="card_l">
        <div class="card" style="width: 15rem;">
          <div class="card-body" routerLink="/produto">
            <h5 class="card-title">Produtos</h5>
            <img src="assets/img/produto.png">
          </div>
        </div>
      </li>


  <li class="card_l">
      <div class="card" style="width: 15rem;">
        <div class="card-body" routerLink="/pedido">
          <h5 class="card-title">Pedidos</h5>
          <img src="assets/img/pedido.png">
        </div>
      </div>
    </li>


      <li class="card_l">
        <div class="card" style="width: 15rem;">
          <div class="card-body" routerLink="/funcionario">
            <h5 class="card-title">Funcionários</h5>
            <img src="assets/img/funcionarios.png">
          </div>
        </div>
      </li>




</ul>



</div>


<router-outlet></router-outlet>


